
.mybutton{
/*	-moz-border-radius: 10em/1em; /* Firefox */
/*-webkit-border-radius: 10em/1em; /* Safari 4 */
  background: silver;
  border-radius: 5px;
	border: 1px solid navy;
}
.button2{
	background: silver;
	border-radius: 5px;
	border: 1px solid navy;
  margin: 0 40px 40px;
}

.button3{
  background: silver;
  border-radius: 5px;
	border: 1px solid navy;
}

.button4{
  background: silver;
  border-radius: 5px;
	border: 1px solid navy;
}

.button4:hover {
   background-position: center;
   background-color: #fcfff4;
   color: #a00;
 }

.button4:active {
  background-position: bottom;
  background-color:yellow;
 }

.ikonki div {
  height: 150px;
  border: 0px ;
}

.opera, .safari,  .firefox, .chrome{
	float:left;
}

.ie {
  float:right;
}

.clearfix::after{
  content: " ";
  display: table;
  clear:both;
}

article {
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
  /*  column-width: 100px;*/
  column-gap: 40px;
  /*column-rule: 1px dotted #ccc;*/
}

article h1 {
  -webkit-column-span: all;
  column-span:all;
  padding-left:40px;
}

P {
  text-indent: 40px; /* Отступ первой строки */
  /*  text-align: justify; /* Выравнивание по ширине */
	font-family: "PT Sans", Arial, Helvetica, sans-serifbody;
	font-size: 13pt; /* Размер шрифта  */
  margin-bottom:20px;
}

ul {
  list-style: none;
}

ul li::before {
	list-style-type: none;
  content:  "—";
  position: relative;
  left:     -5px;
}

.textst {
  color: grey;
	text-decoration: none; /* нет подчеркивания */
	border-bottom: 1px dashed grey;
}

.firefox {
  color:orange;
}

.opera{
  color:red;
}

.safari{
  color: silver;
}

.ie{
  color:blue;
}

.image-letter1{
  color: blue;
}
.image-letter2{
  color: orange;
}
.image-letter3{
  color: green;
}
.image-letter4{
  color: red;
}

.stars{
  margin:0;
  padding: 40px;
  font-size:0;
}

	.stars:hover .star {
	  color: orange;
	}
	.stars .star {
	  display: inline-block;
	  font-size: 46px;
	  cursor: pointer;
	  color: red;
	}

.stars .star:before {
		  content: '\2605'; /*звездочка*/
		}

.stars .star:hover ~ .star {
	  color: silver;
	}

progress {
    margin-left: 40px;
    height: 20px;
    overflow:hidden;
    border-radius: 9px;
    background: silver;
  }

  progress::-webkit-progress-bar {
  background: silver;
  }
