body{
  display: grid;
  margin: 0;
  padding: 50px ;
  background: lightblue url(https://www.motto.net.ua/pic/201505/1920x1200/motto.net.ua-95778.jpg); /* Цвет фона и путь к файлу */
  color: #fff; /* Цвет текста */
  grid-template-columns: 1fr ;
  grid-template-rows: min-content min-content min-content min-content 1fr;
  grid-template-areas: "top_words"
      "logotip"
      "middle_words"
      "last_words"
      "bottom";
  width: 90%;

  font-size: 25px;
/*  min-height: 100vh;*/
.background {
    background-image: url(your/image/here.jpg);
    opacity: 0.4;
}

}
.top_words{

  grid-area: top_words;
 display: flex;
 justify-content: space-between;
 }

.top_words .top_words-left{
justify-content: flex-start;
  }

  .top_words .top_words-right{
     justify-content: stretch;
     display:flex;
    flex-direction: column;
  }

.top_words-right-title{
    justify-content: flex-end;
    color:#fff;
 }

.top_words-right-icon
 {
   /*display: block;*/
   width: 30px;
 /*   height: 60px; */
   margin: 0 auto;
   fill: currentColor;
 }


.logotip{
    grid-area: logotip;
    justify-content: center;
    display: flex;
 text-align: center;
}
 .middle_words{
   grid-area: middle_words;
   justify-content: center;
   display: flex;
text-align: center;
font-size: 2.5em;
padding:0 0 50px 0;
font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
 }

 .last_words{
   grid-area: last_words;
   justify-content: center;
   display: flex;
   text-align: center;
   font-size: 1.5em;
   padding:0 0 50px 0;
   font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
 }
.actions{
  grid-area: bottom;
  justify-content: center;
  display: flex;
  text-align: center;

  width:1fr;
  padding:5px;
}
.button{
  grid-area: button;
  border-radius: 15px ;
  text-align: center;
  justify-content: space-between;
  align-items:stretch;
  background:lightblue;
  padding:5px 50px;
}

ul{
	list-style-type: none;
	}

  .button:hover:enabled{
    background: silver;
  }
  .button:active:enabled{
    background: blue;

@media (max-width: 320px)
{
  .logotip
  {
    width: 50%;
    height: auto;
  }
  .middle_words{
 font-size: 1em;
 padding:0;
  }
}
